.cardy {
  box-shadow: 0 0 0;
  border: 1px solid white;
  transition: border 0.3s ease, box-shadow 0.3s ease-in-out;
}
.cardy:hover {
  transform: translateX(-15px);
  border-color: var(--light-blue);
  box-shadow: 2px 1px 0px var(--light-blue);
}
.cardy .card-text {
  color: whitesmoke;
}
.li-line {
  color: var(--light-blue);
  position: relative;
  padding-left: 1rem;
}
.li-line::marker {
  color: var(--light-blue);
  font-size: 1.8rem;
}
.li-line p {
  color: #8c8c8c;
}
.li-line::before {
  position: absolute;
  border-left: .2rem solid var(--light-blue);
  height: 100%;
  display: block;
  content: "";
  left: -1.3em;
}
